@{
    ViewBag.Title = "Thiết Bị";
    Layout = null;
}
<div class="col-md-4" style="margin-left: 0">
    <div class="group-box ">
        <div class="group-box-title"> nhóm Thiết bị </div>
        <div class="group-box-body" style="max-height:450px ; overflow-y:auto">
            <div class="select-box">
                <div id="jtable_E_Group" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8" style="margin-right: 0">
    <div class="group-box  ">
        <div class="group-box-title"> Thiết bị </div>
        <div class="group-box-body" style=" max-height: 450px; overflow-y: auto">
            <div class="select-box">
                <div id="jtableEquipment" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
 <div class="clearfix"></div>

<div class="modal fade " id="popup_Equipment" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button cancel aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Thông Tin Thiết Bị</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <input class="form-control" id="eId" type="hidden" data-bind="value: Id" />
                    <div class="col-md-6 form-group hide">
                        <label class="control-label">Mã Thiết Bị <span class="required-class">*</span></label>
                        <input class="form-control" id="eCode" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Tên Thiết Bị <span class="required-class">*</span></label>
                        <input class="form-control" id="eName" required="required" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Chọn Loại Thiết Bị <span class="required-class">*</span></label>
                        <div class="select-box">
                            <select id="elistEquipmentType"></select>
                            <i re_etype class="fa fa-refresh clickable red"></i>
                            @*<a href="/Equipmenttype/index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>*@
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Chọn Nhóm Thiết Bị <span class="required-class">*</span></label>
                        <div class="select-box">
                            <select id="elistEquipmentGroup"></select>
                            <i re_egroup class="fa fa-refresh clickable red"></i>
                            @*<a href="/Equipmentgroup/index" target="_blank"><i class="fa fa-plus-circle clickable blue"></i></a>*@
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Hao Phí Thiết Bị (%)<span class="required-class">*</span></label>
                        <input class="form-control" id="eexpend" type="text" value="0" class="number" onkeypress=" return isNumberKey(event)" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">Mô Tả</label>
                        <textarea id="eDescription" class="form-control"></textarea>
                    </div>
                    <div id="myTable">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ecancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" esave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/Equipment/E_Index.js"></script>


<div class="modal   fade  " id="popup_E_Group" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" cancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin Nhóm Thiết Bị</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="rows">
                        <input data-bind="value: Id" type="hidden" />
                        <label class="control-label">Tên Nhóm Thiết Bị<span class="required-class">*</span></label>
                        <input class="form-control" id="egname" data-bind="value: GroupName" type="text" placeholder="Nhập Tên Nhóm Thiết Bị..." />
                    </div>
                    <div class="rows">
                        <label class="control-label">Mã Nhóm Thiết Bị</label><br />
                        <input class="form-control" id="egcode" data-bind="value: GroupCode" type="text" placeholder="Nhập Mã Nhóm Thiết Bị..." />
                    </div>
                    <div class="rows">
                        <label class="control-label">Icon Nhóm Thiết Bị</label>
                        <form id="FormUpload" name="FormUpload" enctype="multipart/form-data" method="post" style="margin:0 !important">
                            <input type="file" id="eguploader" name="eguploader" filelist newurl="" accept="image/*" />
                        </form>
                    </div>
                    <div class="rows">
                        <label class="control-label">Mô Tả</label><br />
                        <textarea id="egdes" data-bind="value: Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" egcancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" egsave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/EGroup/EG_Index.js"></script>