
@{
    ViewBag.Title = "Phân xưởng - chuyền - nhân viên";
     Layout = null;
}
<div class="col-md-6" style="padding-left:0">
    <div class="group-box">
        <div class="group-box-title"> Phân xưởng </div>
        <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
            <div class="select-box">
                <div id="jtableWorkShop" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="padding-right:0">
    <div class="group-box">
        <div class="group-box-title"> Chuyền </div>
        <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
            <div class="select-box">
                <div id="jtableLine" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="group-box">
    <div class="group-box-title"> nhân viên </div>
    <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
        <div class="select-box">
            <div id="jtableEmployee" class="table-center"></div>
        </div>
    </div>
</div>


<div class="modal   fade  " id="popup_WorkShop" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button cancel aria-hidden="true" data-dismiss="modal" class="close" type="button">   ×  </button>
                <h4 class="modal-title">Thông Tin Phân Xưởng</h4>
            </div>
            <div class="modal-body  ">
                <div class="container-fluid">
                    <input class="form-control" type="hidden"  id="wkId"/> 
                    <div class="form-group  ">
                        <label class="control-label">Mã Phân Xưởng <span class="required-class">*</span></label>
                        <input class="form-control" id="wkcode" type="text" placeholder="Nhập Mã Phân Xưởng ..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên Phân Xưởng <span class="required-class">*</span></label>
                        <input class="form-control" id="wkName"  type="text" placeholder="Nhập Tên Phân Xưởng ..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô Tả </label>
                        <textarea class="form-control" id="wkDescription"  ></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" wkcancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" wksave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/Workshop/wk_Index.js"></script>

<div class="modal fade " id="popup_Line" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <button cancel_line aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Thông Tin Chuyền</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <input type="hidden" data-bind="value: Id" />
                    <div class="col-md-6 form-group">
                        <label class="control-label">Mã Chuyền <span class="required-class">*</span></label>
                        <input class="form-control" id="lineCode" data-bind="value: Code" type="text" placeholder="Nhập Mã Chuyền ..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Tên Chuyền <span class="required-class">*</span></label>
                        <input class="form-control" id="lineName" data-bind="value: Name" type="text" placeholder="Nhập Tên Chuyền ..." />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Số LĐ Định Biên <span class="required-class">*</span></label><br />
                        <input class="form-control" id="lineCountOfLabours" data-bind="value: CountOfLabours" type="text" onkeypress=" return isNumberKey(event)" style="width: 100px !important" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Chọn Phân Xưởng <span class="required-class">*</span></label>
                        <div class="select-box">
                            <select id="line_workshop"></select>
                            <i re_line_workshop class="fa fa-refresh clickable red"></i>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">Mô Tả Chuyền</label>
                        <textarea class="form-control" id="Description" data-bind="value: Description"></textarea>
                    </div>
                    <div class="clearfix">  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button cancel_line aria-hidden="true" data-dismiss="modal" class="btn btn-default">
                    <i class="fa fa-times red"></i>
                    Đóng
                </button>
                <button save_line class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    Lưu Lại
                </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/Line/Line.js"></script>

<div class="modal   fade " id="popup_Employee" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header">
                <button cancel aria-hidden="true" data-dismiss="modal" class="close" type="button"> × </button>
                <h4 class="modal-title">Thông Tin Nhân Viên</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <input class="form-control" type="hidden" id="eId" />
                    <div class="col-md-6 form-group">
                        <label class="control-label">Mã nhân viên <span class="required-class"> *</span></label>
                        <input class="form-control" id="ecode" type="text" placeholder="Nhập Mã Nhân Viên." />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Họ Tên<span class="required-class"> *</span></label>
                        <input class="form-control" id="eName" type="text" placeholder="Nhập Họ Tên Nhân Viên." />
                    </div> 
                    <div class="col-md-6 form-group">
                        <label class="control-label">Giới tính  </label>
                        <div>
                            <input type="checkbox" id="eGender" data-width="130" data-toggle="toggle" data-on="Nam " data-off="Nữ ">
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Ngày sinh <span class="required-class"> *</span></label> <br />
                        <input class="form-control" id="EBirthday" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Email  </label>
                        <input class="form-control" id="eEmail" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Điện thoại  </label>
                        <input class="form-control" id="eMobile" type="text" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Phân xưởng  </label>
                        <select class="form-control" id="eWorkshopId"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label">Chuyền  </label>
                        <select class="form-control" id="eLineId"></select>
                    </div>
                    <div class="clearfix">  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ecancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" esave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/Employee/Employ_Index.js"></script>

