
@{
    ViewBag.Title = "Bảng cân đối";
   // Layout = null;
}
<link href="~/Scripts/IED/TKCInsert/tkc-insert.css" rel="stylesheet" />
<link href="~/Scripts/IED/ProAna/ProAna_tkc.css" rel="stylesheet" />
<style>
    .table thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        text-transform: uppercase;
        text-align: center;
        background: blue;
        color: white;
        position: sticky;
        top: 0;
    }

    .table tbody > tr > td {
        vertical-align: middle;
    }
</style>

<div class="container">
    <div class="main-box">
        <div class="head">Bảng cân đối </div>
        <div class="filter">
            <div class="form-group col-md-2">
                <label class="control-label">Ngày sản xuất</label>
                <span class="form-control" disabled id="today-date"></span>
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Mã hàng</label>
                <div class="select-box">
                    <select id="worker-balance-product"></select>
                    <i id="re-worker-balance-product" class="fa fa-refresh clickable red"></i>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Phân xưởng</label>
                <div class="select-box">
                    <select id="worker-balance-workshop"></select>
                    <i id="re-worker-balance-workshop" class="fa fa-refresh clickable red"></i>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label class="control-label">Chuyền</label>
                <div class="select-box">
                    <select id="worker-balance-line"></select>
                    <i id="re-worker-balance-line" class="fa fa-refresh clickable red"></i>
                </div>
            </div>
            <div class="form-group col-md-4"  style="padding-top:20px"> 
                <button id="btn-worker-balance-excel" class="btn btn-danger"><i class="fa fa-file-excel-o"></i> Xuất báo cáo</button>
            </div>
            <div class="clearfix"></div>
        </div>

        <div>

            <div class="form-group col-md-3" style="padding:10px">
                <div class="box-title">Thông tin thiết kế chuyền</div>
                <div style="padding:10px">
                    <div class="form-group  ">
                        <label class="control-label">Ngày tạo thiết kế chuyền</label>
                        <span class="form-control" disabled id="create-date"></span>
                    </div>
                    <div class="form-group  ">
                        <label class="control-label">Tổng thời gian</label>
                        <span class="form-control" disabled id="time-per-commo"></span>
                    </div>
                    <div class="form-group  ">
                        <label class="control-label">NS BQ ĐẦU NGƯỜI (sp)</label>
                        <span class="form-control" disabled id="pro-per-person"></span>
                    </div>
                    <div class="form-group  ">
                        <label class="control-label">NS TỔ/ 1H (sp)</label>
                        <span class="form-control" disabled id="pro-group-per-hour"></span>
                    </div>
                    <div class="form-group  ">
                        <label class="control-label">NS TỔ/ NGÀY (<span id="time-per-day" class="blue">0</span>H) (sp)</label>
                        <span class="form-control" disabled id="pro-group-per-day"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Nhịp Sản Xuất (s)</label>
                        <span class="form-control" disabled id="paced-product"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Lao Động</label>
                        <span class="form-control" disabled id="workers"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Ghi chú</label>
                        <span class="form-control" disabled id="note"></span>
                    </div>
                </div>


            </div>
            <div class="form-group col-md-9" style="padding:10px">
                <div class="box-title">Thông tin năng xuất</div>
                <div style="padding:10px">
                    <table id="table-worker-balance" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên công nhân</th>
                                <th>mã CĐ</th>
                                <th>tên công đoạn</th>
                                <th>thời gian</th>
                                <th>tg + 15% hp</th>
                                <th>định mức</th>
                                <th>tg cần (phút)</th>
                                <th>tg c.lệch</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="9" class="text-center">Không có dữ liệu.</td>
                            </tr>
                        </tbody>
                    </table>
                  
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <div id="Jtable-report"></div> 
        </div>
    </div>
</div>
 
<script src="~/Scripts/IED/worker-balance/worker-balance.js"></script>