@{
    ViewBag.Title = "Mã hàng";
    Layout = null;
} 
<script src="~/Scripts/IED/Product/P_Index.js"></script>

<div id="jtableProduct" class="table-center"></div>

<div class="modal   fade  " id="popup_Product" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" pcancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin mã hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group">
                        <input class="form-control" id="pid" data-bind="value: Id" type="hidden" />
                        <label class="control-label">Tên mã hàng <span class="required-class">*</span></label>
                        <input class="form-control" id="pname" data-bind="value: Name" type="text" placeholder="Nhập Tên mã hàng..." />
                    </div>
                    <div class="form-group ">
                        <label class="control-label">Khách hàng</label><br />
                        <input class="form-control" id="pcode" data-bind="value: Code" type="text" placeholder="Nhập Mã mã hàng..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hình thức sử dụng</label><br />
                        <div>
                            <input type="checkbox" id="proIsPrivate" data-width="130" data-toggle="toggle" data-on="Chung" data-off="Nội bộ" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô Tả</label><br />
                        <textarea id="pdes" class="form-control" data-bind="value: Description"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" pcancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" psave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>


@*popup search*@
<div class="modal fade   " id="pSearch_Popup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" pclose data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tìm Kiếm</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group">
                        <label class="control-label">Từ Khóa</label>
                        <input class="form-control" id="pkeyword" type="text" placeholder="Nhập thông tin bạn cần tìm ..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bạn muốn tìm theo ?</label>
                        <select class="form-control" id="psearchBy">
                            <option value="1">Khách hàng</option>
                            <option value="2">Tên sản phẫm</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button pclose aria-hidden="true" data-dismiss="modal" class="btn">
                    <div class="button-image image-close"></div>
                    Đóng
                </button>
                <button psearch class="btn btn-primary">
                    <div class="button-image image-search"></div>
                    Tìm Kiếm
                </button>
            </div>
        </div>
    </div>
</div>

