@{
    ViewBag.Title = "khách hàng - chủng loại - mã hàng ";
   //   Layout = null;
}
<style>
    .img-box {
        max-height: 280px;
        overflow-y: auto;
        padding-left: 5px
    }

    .img-item {
        width: 250px;
        height: 250px;
        float: left;
        border: 1px solid #ccc;
        margin: 5px;
        border-radius: 10px;
    }

        .img-item img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

    .delete {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #ffc0cb7a;
        color: #ff005e;
        font-weight: 600;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        z-index: 999999999;
        cursor: pointer;
        position: absolute;
        width: 250px;
        display: none;
        margin-top: -40px;
    }

    .img-item:hover .delete {
        display: block !important
    }
</style>
 
<div class="col-md-6" style="padding-left:0">
    <div class="group-box">
        <div class="group-box-title"> khách hàng </div>
        <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
            <div class="select-box">
                <div id="jtableCustomer" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" style="padding-right:0">
    <div class="group-box">
        <div class="group-box-title"> chủng loại </div>
        <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
            <div class="select-box">
                <div id="jtableProGroup" class="table-center"></div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="group-box">
    <div class="group-box-title"> mã hàng </div>
    <div class="group-box-body" style="max-height:300px ; overflow-y:auto">
        <div class="select-box">
            <div id="jtableProduct" class="table-center"></div>
        </div>
    </div>
</div>




<div class="modal   fade  " id="popup_Product" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" pcancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin mã hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group col-md-5  " style="padding-right:0; border-right:3px solid #ccc">
                        <div class="form-group col-md-6">
                            <input class="form-control" id="pid" type="hidden" />
                            <label class="control-label">Tên mã hàng <span class="required-class">*</span></label>
                            <input class="form-control" id="pname" type="text" placeholder="Nhập Tên mã hàng..." />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Khách hàng</label>
                            <div class="select-box">
                                <select class="form-control" id="pcustomer"></select>
                                <i re-pro-customer class="fa fa-refresh clickable red"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Chủng loại</label>
                            <div class="select-box">
                                <select class="form-control" id="pro-group-customer"></select>
                                <i re-pro-group class="fa fa-refresh clickable red"></i>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Hình thức sử dụng</label><br />
                            <div>
                                <input type="checkbox" id="proIsPrivate" data-width="130" data-toggle="toggle" data-on="Chung" data-off="Nội bộ" />
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Mô Tả</label><br />
                            <textarea id="pdes" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-md-12 picture-box ">
                            <form id="p-form-upload" name="p-form-upload" enctype="multipart/form-data" method="post">
                                <input type="file" id="product-file-upload" multiple name="p-file-upload" filelist newurl="" style="display:none" accept="image/*" />
                            </form>
                            <button class="btn btn-danger p-btn-file-upload" >Chọn ảnh mã hàng</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-7  img-box ">

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" pcancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" psave class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div> 
<script src="~/Scripts/IED/Product/P_Index.js"></script>
<script>

    var Product = new GPRO.Product();
    Product.Init();

    function DeleteFile(fileId) {
        Product.deleteFile(fileId);
    }
</script>




<div class="modal   fade  " id="popup_Customer" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" cust-cancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin khách hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group">
                        <input class="form-control" id="cust-id" type="hidden" />
                        <label class="control-label">Tên khách hàng <span class="required-class">*</span></label>
                        <input class="form-control" id="cust-name" type="text" placeholder="Nhập Tên khách hàng..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hình thức sử dụng</label><br />
                        <div>
                            <input type="checkbox" id="cust-isPrivate" data-width="130" data-toggle="toggle" data-on="Chung" data-off="Nội bộ" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô Tả</label><br />
                        <textarea id="cust-des" class="form-control" ></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" cust-cancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" cust-save class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/IED/Customer/customer.js"></script>

<div class="modal   fade  " id="popup_ProGroup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modalsmall">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" pro-group-cancel class="close" type="button">×</button>
                <h4 class="modal-title">Thông tin chủng loại hàng</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="container-fluid">
                    <div class="form-group">
                        <input class="form-control" id="pro-group-id" type="hidden" />
                        <label class="control-label">Tên chủng loại hàng <span class="required-class">*</span></label>
                        <input class="form-control" id="pro-group-name" type="text" placeholder="Nhập Tên chủng loại hàng..." />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hình thức sử dụng</label><br />
                        <div>
                            <input type="checkbox" id="pro-group-isPrivate" data-width="130" data-toggle="toggle" data-on="Chung" data-off="Nội bộ" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô Tả</label><br />
                        <textarea id="pro-group-des" class="form-control" ></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" pro-group-cancel class="btn btn-default" data-dismiss="modal"><i class="fa fa-times red"></i> Đóng </button>
                <button type="button" pro-group-save class="btn btn-primary"><i class="fa fa-floppy-o"></i> Lưu lại </button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/IED/ProductGroup/product-group.js"></script>