@{
    ViewBag.Title = "Trang chủ";
   // Layout = null;
}
<link href="~/Content/EquipMana/Home/Home.css" rel="stylesheet" />
<style>
    html, .nav-sm,
    .nav-sm .container,
    .nav-sm .container .main_container {
        height: 100%
    }

    .right_col {
        height: calc(100% - 58px)
    }

    .divParent {
        height: calc(100% - 95px);
        width: 100%;
    }

        .divParent .tab_List li i {
            margin-top: 0px;
            margin-right: 0px;
            position: relative;
            right: -5px;
            opacity: 0.6;
            color: #9a9898;
            cursor: pointer;
        }

            .divParent .tab_List li i:hover {
                color: red;
                font-weight: bold;
                opacity: 1;
            }

        .divParent .tab_List > li > a {
            padding: 10px !important;
            margin-top: 0px !important;
        }

        .divParent .nav-tabs {
            border-bottom-width: 2px;
        }

            .divParent .nav-tabs > li {
                margin-bottom: -2px;
            }

            .divParent .nav-tabs li.active {
                border: 2px solid blue !important;
                border-bottom: none !important;
            }


        .divParent .tab-content {
            height: calc(100% - 42px);
            border-width: 2px;
            border-color: blue !important;
            overflow-y:auto
        }


            .divParent .tab-content .tab-pane {
                width: 100%;
                height: 100%;
            }
             
    body.nav-sm .container.body .right_col {
        padding: 0px 3px !important;
    }

   /* .side-menu .child_menu{
        overflow-y: auto !important
    }*/

</style>

<div class="divParent" currentpoppup="">
    <ul ul_tab_list class="nav nav-tabs tab_List" last="0"></ul>
    <div div_tab_content class="tab-content"></div>
</div>
<div class="clearfix"></div>

<script>
    var a = 'http://localhost:38176/';
    $('[ul_tab_list],[div_tab_content]').hide();

    function MenuClick(link, name) {
        $('[lisrc]').removeClass('active');
        var tabs = $('[ul_tab_list] li');

        var already = false;
        $.each(tabs, function (i, item) {
            if ($(item).attr('lisrc').toUpperCase() == link.toUpperCase()) {
                $('[lisrc="' + (a + $(item).attr('lisrc')) + '"]').addClass('active');
                already = true;
                return false;
            }
        });

        if (!already) {
            var next = (parseInt($('[ul_tab_list]').attr('last')) + 1);
            var arrList = link.split('/');
            $('[ul_tab_list]').append('<li class="active" control="' + arrList[arrList.length - 2] + '" lisrc="' + link + '" ><a class="bold" data-toggle="tab" href="#menu_' + next + '">' + name + '<i onclick="CloseTab(' + tabs.length + ',\'' + link + '\')" class="fa fa-times" title="Đóng"></i></a></li>');
            $.get(link, function (data) {
                //  $.get('/' + arrList[1] + '/' + arrList[2], function (data) {
                $('[div_tab_content]').append('<div tabChild  lisrc="' + link + '"  id="menu_' + next + '" class="tab-pane fade in active">' + data + '</div>');
            });
            $('[ul_tab_list],[div_tab_content]').show();
            $('[ul_tab_list]').attr('last', next);
        }
    }

    function CloseTab(i, link) {
        $('[lisrc="' + link + '"]').remove();
        if (i == 1 || i == 2)
            $('[ul_tab_list] li:first a').click();
        else
            $('[ul_tab_list] li:eq(' + (i - 2) + ') a').click();
        if ($('[ul_tab_list] li').length == 0)
            $('[ul_tab_list],[div_tab_content]').hide();
    }


    function KeepAlive() {
        $.ajax({
            url: '/home/KeepAlive',
            type: 'post',
            data: null,// JSON.stringify({ id: 1 }),
            contentType: 'application/json charset=utf-8',
            success: function (data) {
                 console.log(data.Result);
            }
        });
    }


    setInterval(KeepAlive, 60000);

</script>
